@import "colors";

html {
    font-size: 11pt;
}
/*.book-overview thead th.book-overview-important {
    color: red;
}*/
body {
    margin: 0;
    padding: 20px;
    border-top: solid 50px $main_color;
    font-family: sans-serif;
}
h1 {
    color:#03553e;
    margin-block-end:0;
}
footer {
    font-size: 0.75rem;
    color: $footer_color;
    padding-top: 10px;
    border-top: solid 1px black;
}





table.book-overview {
    border-collapse: collapse;
}
table.book-overview tr th {
    border-bottom: 1px solid black;
}
table.book-overview {
    border-spacing: 5px;
}
table.book-overview {
    margin-top: 50px;
    margin-bottom: 50px;
}
label {
    font-weight: bold;
}

/*book-overview*/
.book-overview th {
    text-align: left;
}

.book-overview th, td {
    padding: 5px;
}


/*book-details pagina*/
.book-details {
    display: flex;
    max-width: 900px;
}
.book-details .book-detail {
    flex-basis: 230px;
    padding-right: 20px;
    padding-left: 20px;
}
.book-details .book-detail-img img {
    width: 100%;
}
.book-details .book-detail-description {
    flex-grow: 1;
}
.book-details p {
    margin-block-start: 0;
    padding: 0;
}
.book-details p.align-right {
    text-align: right;
}

.subtitle {
    font-size: 150%;
    font-weight: bold;
    color: #747474;
    margin-block-start: 0;
}

/*Buttons*/
button {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 100%;
    border-radius: 7px;
}
.book-details .add-button {
    align-content: flex-end;
    /*werkt niet*/
    background-color: $main_color;
    color: white;
}