@import "colors";

html {
  font-size: 11pt;
}

body {
  padding: 20px;
  border-top: solid 50px $main_color;
  font-family: sans-serif;
}
h1 {
  color:$main_color;
  margin-block-end:0;
}
footer {
  font-size: 0.75rem;
  color: $footer_color;
  padding-top: 10px;
  border-top: solid 1px black;
}

label {
  font-weight: bold;
}

/*book overview*/

table{
  &.book-overview {
    border-collapse: collapse;
    border-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  th {
    padding: 5px;
  }
  td {
    padding: 5px;
  }
  tr {
    th {
      border-bottom: 1px solid black;
    }
  }
}

.subtitle {
  font-size: 150%;
  font-weight: bold;
  color: #747474;
  margin-block-start: 0;
}

/*book-details*/
.book-details {
  .book-detail {
    flex-basis: 230px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .book-detail-img {
    img {
      width: 100%;
    }
  }

  p {
    &.align-right {
      text-align: right;
    }
  }

  .book-detail-description {
    flex-grow: 1;
  }

  .add-button {
    background-color: $main_color;
    color: white;
  }
}
